altgraph==0.17.4
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.4.0
colorama==0.4.6
filelock==3.13.1
fsspec==2024.2.0
gpt4all==2.8.2
huggingface-hub==0.26.1
idna==3.10
Jinja2==3.1.3
MarkupSafe==2.1.5
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.3
packaging==24.1
pefile==2023.2.7
pillow==10.2.0
PyAudio==0.2.14
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
pywin32==308
pywin32-ctypes==0.2.3
PyYAML==6.0.2
regex==2024.9.11
reportlab==4.2.5
requests==2.32.3
safetensors==0.4.5
setuptools==70.0.0
six==1.16.0
SpeechRecognition==3.10.4
sympy==1.12
tokenizers==0.20.1
torch==2.4.1+cu118
torchaudio==2.4.1+cu118
torchvision==0.19.1+cu118
tqdm==4.66.5
transformers @ git+https://github.com/huggingface/transformers.git@049682a5a63042f087fb45ff128bfe281b2ff98b
typing_extensions==4.12.2
urllib3==2.2.3
